spring:
  application:
    name: service-registry

server:
  port: 8761

eureka:
  instance:
    hostname: service-registry
    preferIpAddress: false
  client:
    registerWithEureka: false
    fetchRegistry: false
