version: "3.8"
services:
  service-registry:
    build: ./service-registry
    ports:
      - "8761:8761"

  config-server:
    build: ./config-server
    ports:
      - "8888:8888"
    depends_on:
      - service-registry

  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - config-server

  department-service:
    build: ./department-service
    ports:
      - "8081:8081"
    depends_on:
      - config-server

  employee-service:
    build: ./employee-service
    ports:
      - "8082:8082"
    depends_on:
      - config-server
