server:
  port: 8060

spring:
  application:
    name: api-gateway

  config:
    import: "optional:configserver:http://config-server:8088"

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: employee-service
              uri: lb://employee-service
              predicates:
                - Path=/employee/**

            - id: department-service
              uri: lb://department-service
              predicates:
                - Path=/department/**

eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

logging:
  level:
    org.springframework: INFO
    com.sushant: DEBUG
