server:
  port: 8081

spring:
  application:
    name: department-service
  config:
    import: "optional:configserver:http://config-server:8088"

eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

logging:
  level:
    org.springframework: INFO
    com.sushant: DEBUG
