server:
  port: 8082

spring:
  application:
    name: employee-service

eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

logging:
  level:
    org.springframework: INFO
    com.sushant: DEBUG
